<div class="quizz__container">
    <div class="quizz_logo">
        <img src="assets/images/logo.png" alt="  ">
        <h3>Titulo</h3>
    </div>
    <div class="quizz_questions">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eius in aspernatur ratione laborum quos et quas?</h3>
    </div>
    <div class="quizz_options">
        <button class="btn-option">OptionName</button>
    </div>
    <div class="quizz_results">
        <h1>O seu resultado é: </h1>
    </div>
</div>